@font-face {
    font-family: 'Gugi', cursive;
    font-style: normal;
    font-weight: 800;
    src:
      local('Gugi Regular'),
      local('Gugi-Regular'),
      url('./Gugi-Regular.ttf') format('ttf'); /* Safari, Android, iOS */
}

h3 {
  font-family: 'Gugi';
}
